body {
	font-family: "Open Sans", "Verdana", sans-serif;
	font-synthesis: none;
}

a {
	color: #20898d;
	text-decoration: none;
}

nav ul {
	margin-left: 0.5em;
	padding-left: 0;
}

nav li {
	display: inline-block;
	vertical-align: middle;
	font-size: large;
	margin: 0 0.4em;
}

nav img {
	margin-right: 0.5em;
	vertical-align: middle;
}

nav a:hover {
	color: black;
}

section p, section ul {
	max-width: 50em;
}

section ul {
	list-style-type: circle;
}

footer {
	margin-top: 4em;
	font-size: small;
	color: silver;
}

footer p {
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	margin-bottom: 0.5em;
}

.tagline {
	font-size: x-large;
	margin: 1.5em 2em 0.5em 3rem;
}

.subtagline {
	font-size: large;
	margin: 0 2em 0.5em 3rem;
}

.featurebox {
	display: inline-block;
	vertical-align: top;
	width: 20em;
	margin: 0 1em;
}

.featurebox h1, .featurebox h2, .featurebox h3 {
	text-align: center;
}

.featurebox ul {
	margin-left: 0;
	padding-left: 0;
}

.filelink img {
	vertical-align: middle;
	width: 1.5rem;
	height: 1.5rem;
}

.code {
    background: #6adcde;
    font-family: "Cousine", monospace, serif;
	font-size: 0.9rem;
    white-space: pre;
    padding: 1em 1em 1em 4em;
	width: 50em;
}

.icode {
    font-family: "Cousine", monospace, serif;
	font-size: 0.95rem;
}

.semanticheading {
	display: none;
}

.snippet {
	font-size: smaller;
	margin-top: 0;
}

.readmore {
	white-space: nowrap;
}

.contactform {
	width: 40em;
}

.formfield {
	width: 100%;
}

.noprint {
}

@media print {
	nav, footer, .noprint {
		display: none;
	}
}
